form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 50%;
    margin: 0 auto;
    padding: 10px;
}
input{
    margin: 10px;
    width: 200px;
    height: 40px;
    border-radius: 5px;
}
button{
    margin: 10px;
    width: 200px;
    height: 40px;
    background-color: #000;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
form div{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
label{
    width: 150px;
}
